[submodule "bundle/bash-clearcase"]
	path = bundle/bash-clearcase
	url = git@github.com:s-evans/bash-clearcase.git
[submodule "bundle/bash-completion"]
	path = bundle/bash-completion
	url = git@github.com:s-evans/bash-completion.git
