set editing-mode vi

$if mode=vi

    set keymap vi-command
    "zz": redraw-current-line
    "gg": beginning-of-history
    "G":  end-of-history

    "ge":  "lbbhe"
    "gE":  "BBE"
    "cgE": "mtBBEc`t"
    "dgE": "mtBBEd`t"
    "ygE": "mtBBEy`t"
    "cge": "mtlbbhec`t"
    "dge": "mtlbbhed`t"
    "yge": "mtlbbhey`t"

    "guw":  downcase-word
    "gue":  downcase-word
    "guaw": "lbguw"
    "guiw": "lbguw"
    "gu":   abort

    "gUw":  upcase-word
    "gUe":  upcase-word
    "gUaw": "lbgUw"
    "gUiw": "lbgUw"
    "gU":   abort

    "daw": "lbdw"
    "daW": "lBdW"
    "diw": "lbdw"
    "diW": "lBdW"
    "caw": "lbcw"
    "caW": "lBcW"
    "ciw": "lbcw"
    "ciW": "lBcW"
    "yaw": "lbyw"
    "yaW": "lByW"
    "yiw": "lbyw"
    "yiW": "lByW"

    "da\"": "lF\"df\""
    "di\"": "lF\"lmtf\"d`t"
    "ca\"": "lF\"cf\""
    "ci\"": "lF\"lmtf\"c`t"
    "ya\"": "lF\"yf\""
    "yi\"": "lF\"lmtf\"y`t"

    "da'": "lF'df'"
    "di'": "lF'lmtf'd`t"
    "ca'": "lF'cf'"
    "ci'": "lF'lmtf'c`t"
    "ya'": "lF'yf'"
    "yi'": "lF'lmtf'y`t"

    "da`": "lF\`df\`"
    "di`": "lF\`lmtf\`d`t"
    "ca`": "lF\`cf\`"
    "ci`": "lF\`lmtf\`c`t"
    "ya`": "lF\`yf\`"
    "yi`": "lF\`lmtf\`y`t"

    "da(": "lF(%%d%"
    "di(": "lF(%%lmth%d`t"
    "ca(": "lF(%%c%"
    "ci(": "lF(%%lmth%c`t"
    "ya(": "lF(%%y%"
    "yi(": "lF(%%lmth%y`t"

    "da)": "da("
    "di)": "di("
    "ca)": "ca("
    "ci)": "ci("
    "ya)": "ya("
    "yi)": "yi("

    "da{": "lF{%%d%"
    "di{": "lF{%%lmth%d`t"
    "ca{": "lF{%%c%"
    "ci{": "lF{%%lmth%c`t"
    "ya{": "lF{%%y%"
    "yi{": "lF{%%lmth%y`t"

    "da}": "da{"
    "di}": "di{"
    "ca}": "ca{"
    "ci}": "ci{"
    "ya}": "ya{"
    "yi}": "yi{"

    "da[": "lF[%%d%"
    "di[": "lF[%%lmth%d`t"
    "ca[": "lF[%%c%"
    "ci[": "lF[%%lmth%c`t"
    "ya[": "lF[%%y%"
    "yi[": "lF[%%lmth%y`t"

    "da]": "da["
    "di]": "di["
    "ca]": "ca["
    "ci]": "ci["
    "ya]": "ya["
    "yi]": "yi["

    "da<": "lF<df>"
    "di<": "lF<lmtf>d`t"
    "ca<": "lF<cf>"
    "ci<": "lF<lmtf>c`t"
    "ya<": "lF<yf>"
    "yi<": "lF<lmtf>y`t"

    "da>": "da<"
    "di>": "di<"
    "ca>": "ca<"
    "ci>": "ci<"
    "ya>": "ya<"
    "yi>": "yi<"

    "da/": "lF/df/"
    "di/": "lF/lmtf/d`t"
    "ca/": "lF/cf/"
    "ci/": "lF/lmtf/c`t"
    "ya/": "lF/yf/"
    "yi/": "lF/lmtf/y`t"

    "da:": "lF:df:"
    "di:": "lF:lmtf:d`t"
    "ca:": "lF:cf:"
    "ci:": "lF:lmtf:c`t"
    "ya:": "lF:yf:"
    "yi:": "lF:lmtf:y`t"

    "dd": "0D"
    "cc": "0C"
    "yy": "0Y"

    set keymap vi-insert
    "jk": vi-movement-mode

    "\C-n": history-search-forward
    "\C-p": history-search-backward

    "\C-a": beginning-of-line
    "\C-e": end-of-line

    "\C-u": backward-kill-line
    "\C-k": kill-line

$endif

set bell-style                       visible
set bind-tty-special-chars           on
set blink-matching-paren             on
set byte-oriented                    off
set colored-stats                    on
set comment-begin                    #
set completion-display-width         -1
set completion-ignore-case           on
set completion-map-case              on
set completion-prefix-display-length 0
set completion-query-items           200
set convert-meta                     off
set disable-completion               off
set echo-control-characters          on
set enable-keypad                    off
set enable-meta-key                  on
set expand-tilde                     off
set history-preserve-point           off
set history-size                     -1
set horizontal-scroll-mode           on
set input-meta                       on
set keyseq-timeout                   500
set mark-directories                 on
set mark-modified-lines              on
set mark-symlinked-directories       on
set match-hidden-files               on
set menu-complete-display-prefix     off
set meta-flag                        on
set output-meta                      on
set page-completions                 on
set prefer-visible-bell              on
set print-completions-horizontally   on
set revert-all-at-newline            off
set show-all-if-ambiguous            on
set show-all-if-unmodified           off
set show-mode-in-prompt              on
set skip-completed-text              on
set visible-stats                    off
