# LIST OF MOTIONS AND TEXT OBJECTS
# inner word (iw)
# a word (aw)
# inner big word (iW)
# a big word (aW)
# forward word (w)
# forward big word (W)
# backward word (b)
# backward big word (B)
# end of word (e)
# end of big word (E)
# end of prev word (ge)
# end of prev big word (gE)
# inner apostrophe (a' and a')
# a apostrophe (a' and a')
# inner quote (a" and a")
# a quote (a" and a")
# inner parenthesis (a( and a))
# a parenthesis (a( and a))
# inner bracket (a[ and a])
# a bracket (a[ and a])
# inner curly brace (i{ and i})
# a curly brace (a{ and a})
# inner brace (i< and i>)
# a brace (a< and a>)
# carrot (^)
# dollar ($)
# zero (0)
# forward character (l)
# backward character (h)
# matching element (%)
# forward word search (*)
# reverse word search (#)
# entire line (repeat last char in mapping)
# finger (fX)
# reverse finger (FX)
# touch (tX)
# reverse touch (TX)
# repeat finger or touch (;)
# backward repeat finger or touch (,)
# inner backtick (i`)
# a backtick (a`)

# LIST OF OPERATORS
# change (c)
# delete (d)
# yank (y)
# uppercase (gU)
# lowercase (gu)
# opposite case (g~)

# Set vi mode
set editing-mode vi

# Show modeline (newer versions of bash/readline only)
set show-mode-in-prompt on

# Get rid of the bell
set bell-style none

# Custom vi mode maps
$if mode=vi

    set keymap vi-command
    "zz": redraw-current-line
    "gg": beginning-of-history
    "G": end-of-history

    # TODO: ge and gE motions and all operators
    "ge": "lbbhe"
    "gE": "BBE"

    # TODO: gu operator with all motions and text objects
    "guw": downcase-word
    "gue": downcase-word
    "guaw": "lbguW"
    "guiw": "lbguw"

    # TODO: gU operator with all motions and text objects
    "gUw": upcase-word
    "gUe": upcase-word
    "gUaw": "lbgUW"
    "gUiw": "lbgUw"

    # basic vim text object support
    "daw": "lbdW"
    "diw": "lbdw"
    "caw": "lbcW"
    "ciw": "lbcw"
    "yaw": "lbyW"
    "yiw": "lbyw"

    "da\"": "lF\"df\""
    "di\"": "lF\"lmtf\"d`t"
    "ca\"": "lF\"cf\""
    "ci\"": "lF\"lmtf\"c`t"
    "ya\"": "lF\"yf\""
    "yi\"": "lF\"lmtf\"y`t"

    "da'": "lF'df'"
    "di'": "lF'lmtf'd`t"
    "ca'": "lF'cf'"
    "ci'": "lF'lmtf'c`t"
    "ya'": "lF'yf'"
    "yi'": "lF'lmtf'y`t"

    "da`": "lF\`df\`"
    "di`": "lF\`lmtf\`d`t"
    "ca`": "lF\`cf\`"
    "ci`": "lF\`lmtf\`c`t"
    "ya`": "lF\`yf\`"
    "yi`": "lF\`lmtf\`y`t"

    "da(": "lF(%%d%"
    "di(": "lF(%%lmth%d`t"
    "ca(": "lF(%%c%"
    "ci(": "lF(%%lmth%c`t"
    "ya(": "lF(%%y%"
    "yi(": "lF(%%lmth%y`t"

    "da)": "da("
    "di)": "di("
    "ca)": "ca("
    "ci)": "ci("
    "ya)": "ya("
    "yi)": "yi("

    "da{": "lF{%%d%"
    "di{": "lF{%%lmth%d`t"
    "ca{": "lF{%%c%"
    "ci{": "lF{%%lmth%c`t"
    "ya{": "lF{%%y%"
    "yi{": "lF{%%lmth%y`t"

    "da}": "da{"
    "di}": "di{"
    "ca}": "ca{"
    "ci}": "ci{"
    "ya}": "ya{"
    "yi}": "yi{"

    "da[": "lF[%%d%"
    "di[": "lF[%%lmth%d`t"
    "ca[": "lF[%%c%"
    "ci[": "lF[%%lmth%c`t"
    "ya[": "lF[%%y%"
    "yi[": "lF[%%lmth%y`t"

    "da]": "da["
    "di]": "di["
    "ca]": "ca["
    "ci]": "ci["
    "ya]": "ya["
    "yi]": "yi["

    "da<": "lF<df>"
    "di<": "lF<lmtf>d`t"
    "ca<": "lF<cf>"
    "ci<": "lF<lmtf>c`t"
    "ya<": "lF<yf>"
    "yi<": "lF<lmtf>y`t"

    "da>": "da<"
    "di>": "di<"
    "ca>": "ca<"
    "ci>": "ci<"
    "ya>": "ya<"
    "yi>": "yi<"

    "da/": "lF/df/"
    "di/": "lF/lmtf/d`t"
    "ca/": "lF/cf/"
    "ci/": "lF/lmtf/c`t"
    "ya/": "lF/yf/"
    "yi/": "lF/lmtf/y`t"

    "da:": "lF:df:"
    "di:": "lF:lmtf:d`t"
    "ca:": "lF:cf:"
    "ci:": "lF:lmtf:c`t"
    "ya:": "lF:yf:"
    "yi:": "lF:lmtf:y`t"

    # basic operators need to be explicitly redefined because text objects seem to have broken them
    "dd": "0D"
    "cc": "0C"
    "yy": "0Y"

    set keymap vi-insert
    "jk": vi-movement-mode

    # Re-enable some Emacs style mappings in insert mode
    "\C-n": history-search-forward
    "\C-p": history-search-backward

    "\C-a": beginning-of-line
    "\C-e": end-of-line

    "\C-u": backward-kill-line
    "\C-k": kill-line

$endif

# Dump of a favorable pedigree
set bind-tty-special-chars on
set blink-matching-paren on
set byte-oriented off
set completion-ignore-case on
set convert-meta off
set disable-completion off
set echo-control-characters on
set enable-keypad off
set enable-meta-key on
set expand-tilde off
set history-preserve-point off
set horizontal-scroll-mode off
set input-meta on
set mark-directories on
set mark-modified-lines off
set mark-symlinked-directories off
set match-hidden-files on
set meta-flag on
set output-meta on
set page-completions on
set prefer-visible-bell on
set print-completions-horizontally off
set revert-all-at-newline off
set show-all-if-ambiguous on
set show-all-if-unmodified off
set skip-completed-text off
set visible-stats off
set comment-begin #
set completion-prefix-display-length 0
set completion-query-items 100
set history-size 1000

